@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  overflow-x: hidden;
}

/* index.css */


.mask-fade {
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%, black 100%);
  mask-image: linear-gradient(to top, transparent 0%, black 30%, black 100%);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
